{% block html_head_container %}

	{% include 'head/html-header.twig' %}

	{% block head %}
	{% endblock %}

	{% if open_graph %}
		{% include 'head/open-graph.twig' with {'open_graph': open_graph} only %}
	{% endif %}

	{% if schema %}
		<!-- Schema.org Data -->
		{{ schema }}
	{% endif %}

	</head>

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% block header_container %}
			{% include 'header/header.twig' %}
		{% endblock %}

		<main id="main" role="main" class="main">

			<div class="page-content">

				<div class="container-fluid">

					<div class="row">

						<div class="col-sm-2">

							{% block user_sidebar %}

								<div class="side-menu">

									<h4>Menu</h4>

									<ul>
										<li><a href="/">Dashboard</a></li>
										<li><a href="/contact/">Contacts</a></li>
										<li><a href="/organization/">Organizations</a></li>
									</ul>

									<h4><i class="fa fa-search"></i> My Searches</h4>

									<ul>
										<li>
											<a href="#">Ugly People</a>
											<a href="#" class="text-danger">
												<i class="fa fa-times-circle"></i>
											</a>
										</li>
										<li>
											<a href="#">Companies with lots of dummies</a>
											<a href="#" class="text-danger">
												<i class="fa fa-times-circle"></i>
											</a>
										</li>
									</ul>

								</div><!-- /.side-menu -->

							{% endblock %}

						</div><!-- /.col-sm-2 -->

						<div class="col-sm-10">

							{% block content %}
								Sorry, nothing here.
							{% endblock %}

						</div><!-- /.col-sm-10 -->

					</div><!-- /.row -->

				</div><!-- /.container -->

			</div><!-- /.page-content -->

		</main>

		{% block footer_container %}

			{% include 'footer/footer.twig' %}

			{{ function('wp_footer') }}

		{% endblock %}

	</body>
</html>