{% block html_head_container %}

	{% include 'head/html-header.twig' %}

	{% block head %}
	{% endblock %}

	{% if open_graph %}
		{% include 'head/open-graph.twig' with {'open_graph': open_graph} only %}
	{% endif %}

	{% if schema %}
		<!-- Schema.org Data -->
		{{ schema }}
	{% endif %}

	</head>

{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">

		{% block header_container %}
			{% include 'header/header.twig' %}
		{% endblock %}

		<main id="main" role="main" class="main">

			{% block content %}
				Sorry, nothing here.
			{% endblock %}

		</main>

		{% block footer_container %}

			{% include 'footer/footer.twig' %}

			{{ function('wp_footer') }}

		{% endblock %}

	</body>
</html>