# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
!web/app/mu-plugins/crm-setup
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# Theme
.devvars
web/app/themes/*/dist

# WordPress
web/wp
web/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Bower
bower_components

# Vagrant
.vagrant

# Etc
.DS_Store
