/**
 * Margin Helpers
 */

.mb0 { margin-bottom: 0; }
.mt0 { margin-top: 0; }
.mr0 { margin-right: 0; }
.ml0 { margin-left: 0; }

@for $i from 1 through 4 {
  // Margin bottom 1 through 4 (60px, 30px, 20px, 15px)
  .mb#{$i} { margin-bottom: $spacing/$i; }
  // Margin top 1 through 4 (60px, 30px, 20px, 15px)
  .mt#{$i} { margin-top: $spacing/$i; }
  // Margin right 1 through 4 (60px, 30px, 20px, 15px)
  .mr#{$i} { margin-right: $spacing/$i; }
  // Margin left 1 through 4 (60px, 30px, 20px, 15px)
  .ml#{$i} { margin-left: $spacing/$i; }
}