@mixin bg-cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin absolute-cover {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	bottom: 0;
}

@mixin center-img {
	display: block;
	margin: 0 auto;
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: translateY(-50%);
}

// Creates a responsive aspect ratio container
@mixin aspect-ratio($width, $height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}
	> .content {
		@include absolute-cover;
	}
}